.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  .social-link {
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease;
  }
  
  .social-link:hover {
    transform: scale(1.2);
  }
  
  .social-link img {
    width: 30px;
    height: auto;
  }
  